@*@model IEnumerable<ViewBag.AuroraModel>*@
@model IEnumerable<Aurora.Models.AuroraModel2>
@using Newtonsoft.Json

@{
    ViewData["Title"] = "Home Page";
    //List<AuroraModel2> list = ViewBag.AuroraModel;
    //var list = (List<AuroraModel2>)ViewBag.AuroraModel;
    var list = ViewBag.AuroraModel;
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@


@*<div>@list</div>*@

@*<div class="newA_Span">Najnowsze ogłoszenia:</div>*@
<div class="newA_Parent">
    @foreach(var item in list)
    {
        @*<div>@item.Description</div>*@
        <div class="newA">
            @*<div>@item.Title</div>
            <div>@item.Description</div>*@
        </div>
    }
</div>



@*@list.Title*@

<script type="text/javascript">

    var model = @Html.Raw(JsonConvert.SerializeObject(ViewBag.AuroraModel));
    console.log(model);

    //dodaj do divow titles i desriptions
    //
    //
    

</script>