@*@model IEnumerable<ViewBag.AuroraModel>*@
@model IEnumerable<Aurora.Models.AuroraModel2>
@using Newtonsoft.Json

@{
    ViewData["Title"] = "Home Page";
    //List<AuroraModel2> list = ViewBag.AuroraModel;
    //var list = (List<AuroraModel2>)ViewBag.AuroraModel;
    //var list = ViewBag.AuroraModel;
}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@


@*<div>@list</div>*@

@*<div class="newA_Span">Najnowsze ogłoszenia:</div>*@
<div class="newA_Parent">
    @foreach(var item in ((IEnumerable<AuroraModel2>)ViewBag.AuroraModel).OrderByDescending(x => x.Date))
    {
        @*<div>@item.Description</div>*@
        <div class="newA" name="@item.Id">
            @*<div>@item.Title</div>
            <div>@item.Description</div>*@
            <div id="newA_Title">
                <span>@item.Title</span>
                <span>@item.Date.ToString("yyyy.MM.dd")</span>
            </div>
            <div class="divider"></div>
            <div id="newA_Description"></div>

            @*<div class="fader"></div>*@

            <div id="newA_City">
                <div class="divider2"></div>
                <span>@item.Place.Split('(')[0]</span>
            </div>

        </div>
    }
</div>



@*@list.Title*@

<script type="text/javascript">
    var model = @Html.Raw(JsonConvert.SerializeObject(ViewBag.AuroraModel));
    
    var newA_Elements = document.querySelectorAll(".newA");
    for(let i = 0; i < newA_Elements.length; i++){
        for(let j = 0; j < model.length; j++){
            if(model[j].Id == newA_Elements[i].getAttribute('name')){
                newA_Elements[i].getElementsByTagName('div')[2].innerHTML = model[j].Description;
            }
        }
    }



    //var description = document.getElementById("newA_Description");
    
    //for(let i = 0; i < description.length; i++){
    //    var lht = parseInt($(description[i]).css('lineHeight'), 10);
    //    var lines = $(description[i]).attr('scrollHeight') / lht;
    //    console.log(lines);
    //}



</script>